
.view2{
	position: relative;
	float: left;
	width: 27%;
	height: 250px;
	margin: 30px 30px 0 0;
	border: 2px solid #bfbfbf;
	padding: 5px;
	border-radius: 5px;
	background-color: #dfdfdf;
}

.avatar{
	width: auto;
	height: 200px;
	margin: 2px 2px 10px 2px;
	text-align:center;
	vertical-align: middle;
}



.avatar img{
	max-width: 100%;
	max-height: 100%;
		box-shadow: 1px 1px 3px 0px black, -2px -2px 3px 0px white;
}

.fio{
	text-align: center;
}

.auth{
	font-family: sans-serif;
	font-size: 10pt;
}
.auth a{
	color: black;	
	text-decoration: none;
}

.logout{
	margin: 10px 5px 5px 5px;
	background-color: rgba(240,240,240, 0.9);
	border: 1px solid grey;
	box-shadow: 2px 2px 10px 4px #404040;
	padding: 3px;
	border-radius: 2px;
}
.customtree,
.customtree ul{
	font-size: 12pt;
}
.treeview *{
	background: none;
}

.customtree .platetree{
	display: block;
	background-color: #e8e8e8; 
	box-shadow: 1px 1px 2px 1px #d8d8d8;
	width: 100%;
	margin: 2px;
}

.customtree .platetree:hover{
	 background-color: #fafafa; 
}


.customtree li{
	width: auto;
}

.catalogs .platetree{
	background: url(../images/folder_24.png) no-repeat #e8e8e8; 
	box-shadow: 1px 1px 2px 1px #d8d8d8;
}

.catalogs .platetree:hover{
	background: url(../images/folder_add_24.png) no-repeat; 
}


.catalogs .platetree a{
	margin-left: 30px; 
}

#avPersonnel{
	position: relative;
	float: left;
	width: 25%;
}

#dataPersonnel{
	position: relative;
	float: left;
	width: 70%;
}

#dataPersonnel div{
 margin-left: 10px;
 margin-bottom: 10px;
 font-size: 10pt;
}

#personTbl #right{
	text-align: right;
}

#personTbl,#personTbl *{
	font-size: 12pt;
	vertical-align: top;
	border-collapse: collapse;
}

.clear{
	position: relative;
	width: 1px;
	height: 1px;
	clear: both;
}

.list-view .pager{
	position: relative;
	clear: both;
	padding-top: 20px;
}


.persList{
	border-top: 2px solid #040404;
	border-bottom: 2px solid #040404;
}

select,option{
	width: 90%;
}

.multichoise{
	display: block;
	width: 100%;
	overflow: hidden;
}


.add_unit, .choise_unit, .join_group,.join_post,.join_managers{
	margin: 3px;
	padding: 2px;
	height: 20px;

	border-radius: 4px;
	box-shadow: 1px 1px 3px 0px grey, -3px -3px 2px 2px white;
}

.add_unit, .join_group ,.join_post,.join_managers{
	background: url('../images/add.png') 99% 2px no-repeat #ebf4e6;
	cursor: pointer;
}

.join_group,.join_post,.join_managers{
	padding-right: 20px;	
}

.add_unit, .choise_unit, .trinity_left{
	width: 24%;
	float: left;	
}

.fl_right{
	float: right;
}


.close_this{
	position: relative;
	float: right;
	width: 16px;
	height: 16px;
	background: url('../images/delete.png') no-repeat;
	cursor: pointer;
}
.back{
	
}

.back_in_black{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	z-index: 90;
}
.window_awesom{
	background: #f4f4f4;

	overflow: auto;
	margin: 0 auto;
	padding: 3px;
	border: 2px groove #ffffff;
	border-radius: 4px;
	position: absolute;
	text-align: left;

	z-index: 99;
	
}

.lock{
	overflow: auto;
}

.s16{
	margin: 5px;
	height: 20px;
	width: 20px;
}
.phonetable{
	margin: 10px;
}
.phonetable, .phonetable *{
	border: 1px solid #d4d4d4;
	border-collapse: none;
}

.phonetable th{
	background: #040404;
	color: white;
}

.hierarchy div{
	margin-left: 10%;
}

.taskpanel{
	box-shadow: 1px 1px 3px 0px grey, -3px -3px 2px 2px white;
	border-radius: 3px;
	padding: 2px;
	background: #fabaca;
	margin: 5px;
	margin-top: 10px;
	width: auto;
}

.open{
 	background: #fcfcfc;
}

.done{
	background: #ebf4e6;
}

.closed{
	background: #f9ede8;
}


.modal_window{
	position: absolute;
	width: 80%;
	left: 10%;
	top: 10%;
	z-index: 99;
}

.modal_window_back{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(240,240,240, 0.7); 
	z-index: 40;
}

.portlet-decoration{
	background: #0F0F4D;
	border-left: 5px solid white;
	box-shadow: 1px 1px 3px black;
}

.portlet-decoration, .portlet-content{
	border-radius: 5px;

}

.portlet-title{
	color: white;
}

.portlet-content{
	border:2px solid #DADEE0;
	background: #F0F0F0;
}

#status_task{
	margin: 3px;
	padding: 2px;
	height: 26px;

	border-radius: 4px;
	box-shadow: 1px 1px 3px 0px grey, -3px -3px 2px 2px white;
	cursor: pointer;
	width: 32%;
	float: right;
}

.comment{
	width: 99%;
	background: white;
	margin: 3px;
	margin-top: 15px;
	min-height: 50px;
	padding: 4px;
	border-radius: 3px;
	box-shadow: 1px 1px 5px 5px white;
}

.comment-topline{
	width: 100%;
	border-bottom: 1px solid #040404;
	text-align: right;
}

.sign{
	
	background: white;
	padding: 3px;
	position: relative; 
	float: right; 
	text-align: right;
}

.norm_text{
	font-size: 14pt;

	text-align: justify;
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
 width: 99%;
}



#taskbody{
	border-radius: 3px; 
	min-height: 46px; 

	padding: 10px;
	padding-bottom: 20px;
	margin-bottom: 10px;
}	

#omsk{
	position: absolute;
	left: 3px;
	top: 3px;
	z-index: 100;
}

textarea{
	width: 99%;
	min-height: 400px;
}

.day, .day_event{
	top: 40px;
 	
}

.day{
	min-width: 930px;
 	position: relative;
 	left: 20px;
 	width: 95%;
 	font-size: 12pt;
 	padding-bottom: 60px;
}

.day_event, .week_event{
	border-color: grey;
}

.day_event{
	position: absolute;
 	left: 70px;
 	width: 92%;
 	z-index: 10;
}

.week_event{

	border-left: 2px solid gray;
	position: relative;
 	width: 13%;
 	height: 600px;
 	float: left;
 	z-index: 10;
}

.corps{
	margin: 5px;
	overflow: hidden;
	border: 1px solid red;
}

.day div{

	width: 95%;
	height: 58px;
	border-top: 2px solid;
	
	/*
	border-bottom: 2px solid;
	border-left: 2px solid;
	border-right: 2px solid;
		border-radius: 0px;*/

	border-color: grey;
}

.leaf .day div  {
	width: 100%;
}
.leaf .day_event{
	width: 95%;
}

.event{
	padding: 0px;

	position: absolute;
	width: 98%;
	border-radius: 3px;
	border: 1px solid gray;
	overflow: hidden;
	z-index: 2;
}

.event.closed{
	z-index: 1;
	opacity: 0.3;
}

.event:hover{
	z-index: 5;
}

.event *{
	margin: 1px;

	white-space: pre;
	margin-top:  0px;
	margin-bottom: 0px;
}

.leaf .event p{
	font-size: 10pt;
	font-weight: bold;
	left: 10px;
	top: 2%;
}

.event p{
	font-size: 12pt;
	font-weight: bold;
	left: 10px;
	top: 4%;
}

.event .status{
	position: absolute;
	right: 2px;
	bottom: 2px;
}

.event .time{
	position: absolute;
	right: 2px;
	top: 2px;
}

.event .creator{
	position: absolute;
	left: 2%;
	bottom: 2%;
}



.cornice{
	width:950px; 
	background: #F0F0F0; 
	margin:  0 0 -5px -20px; 
	/*z-index: 2; */
	position: relative;
}


.fullwidth{
	width: 95%;
}

.leaf{

	margin: 4px;
 	background: #F0F0F0;
 	/*min-height: 100%;*/
	position: absolute;
	overflow-y: visible;
	z-index: 1;
	width: 95%;
	min-width: 930px;
	left: 3%;
	box-shadow: 1px 1px 3px 0 #000000, -2px -2px 3px 0 #FFFFFF;

}
.current{
	background-color: rgba(255,255,255,0.6);
}

.leaf_slim{

	margin: 0px auto;
 	background: #F0F0F0;

 	/*min-height: 100%;*/
	position: absolute;
	overflow-y: visible;
	z-index: 1;
	width: 930px;
	box-shadow: -20px 0px 0px 0px #F0F0F0;
	/*box-shadow: 1px 1px 3px 0 #000000, -2px -2px 3px 0 #FFFFFF;*/

}