
table{
	max-width: 99%;
}

td{
	white-space: pre-wrap;
}

.MyMenuSubmenu{
	/*display: none;*/
	position: absolute;
	padding: 0px;
	background: #f7f7f6;
	box-shadow: 1px 3px 3px 0px grey;
	opacity: 1;
	height: 0px;
	left: 50%;

	margin-left: -475px;
	width: 945px;
	overflow: hidden;
	display: block;
	transition: opacity .4s ease 0s, height .4s ease 0s;

}



#mainmenu .MyMenuSubmenu .item
{
	display: inline-block;
	background-color: #f7f7f6;
 font-size: 15px;
 line-height: 40px;
 height: 48px;
 /*padding: 0 15px;*/
 color: #385c5b;
 letter-spacing: 1px;
 text-transform: uppercase;
 font-weight: bold;
 text-align: center;
 text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
 border-radius: 2px 2px 0 0;
 position: relative;
 z-index: 1;
}

#mainmenu .MyMenuSubmenu a
{
	color: #040404;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 0px;
}

#userEd{
	vertical-align: middle;
}

.nullmargin, .nullmargin *{
	margin: 0px;
	padding: 0px;
	border: 0px;
	border-collapse: collapse;
}


.indicator_slider{
	padding: 0px;
	width: 93%; 
	height: 10px; 
	position: relative; 
	background: #AAFFAA; 
	border: 1px solid grey;
	border-radius: 3px;
}

.indicator_slider div{
	margin: 0px;
	border-radius: 3px;
	height: 100%; 
	position: absolute; 
	background: #FFAAAA;
}

.rightinfo{
	height: 20px;
	word-spacing: nowrap; 
	position: absolute;
	top: 1px;
	right: 1px;
}

.rightinfo div, .rightinfo span{
	float: right;
}


.taskmoreinfo{
	display: inline-block;
	position: relative; 
	text-align: right;
	clear: none;
	float: right; 
	height: 20px; 
	width: 20px;
	margin: 0px;
}

.hiddeninfotask{
	white-space: nowrap;
	z-index: 99;
	position: absolute;
	text-align: center;
	left: 20px;
	color: black;
	display: none;
	padding: 2px;
	background: #f7f7f6;
	border: 2px solid grey;
	border-radius: 4px;
}

.taskmoreinfo:hover .hiddeninfotask{
	display: block;
}


.taskpanel span:hover .texttask{
	display: block;
}


.texttask{
	position: absolute;
	z-index: 5;
	background: #fcfcfc;
	display: none;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .3), -23px 0 20px -23px rgba(0, 0, 0, .8), 23px 0 20px -23px rgba(0, 0, 0, .8), 0 0 40px rgba(0, 0, 0, .1) inset;
	transition: opacity .4s ease 0s, height .4s ease 0s;
}
.taskpanel:hover{
	z-index: 4;
}


.rotated {
    padding:1em;
    margin:2em 2px 4em;
    background:#fff;
    border-radius:4px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-border-radius:4px;
    -webkit-box-shadow:none;
       -moz-box-shadow:none;
            box-shadow:none;
    -webkit-transform:rotate(-3deg);
       -moz-transform:rotate(-3deg);
        -ms-transform:rotate(-3deg);
         -o-transform:rotate(-3deg);
            transform:rotate(-3deg);
}
 
.rotated > :first-child:before {
    content:"";
    position:absolute;
    z-index:-1;
    top:0px;
    bottom:0;
    left:0;
    right:0px;
    background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}      
 
.rotated:before,
.rotated:after {
        content:"";
        position:absolute;
        z-index:-2;
        bottom:15px;
        left:10px;
        width:50%;
        height:20%;
        max-width:300px;
    -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
       -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
            box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform:rotate(-3deg);
       -moz-transform:rotate(-3deg);
        -ms-transform:rotate(-3deg);
         -o-transform:rotate(-3deg);
            transform:rotate(-3deg);
}
 
.rotated:after {
    right:10px;
    left:auto;
    -webkit-transform:rotate(3deg);
       -moz-transform:rotate(3deg);
        -ms-transform:rotate(3deg);
         -o-transform:rotate(3deg);
            transform:rotate(3deg);
}
 
.rotated p {
        font-size:16px;
        font-weight:bold;
}


.rep, .myrep{
	position: relative;
	float: left;
	width: 20px;
	height: 20px;
	background: url('../images/doc.png') 99% 99%;
	background-size: cover; /* Масштабируем фон */
}

.myrep{
	background: url('../images/doc_gold.png') 99% 99%;
	background-size: cover; /* Масштабируем фон */
}

.messenger{
	position: fixed;
	z-index: 99999;
	bottom: 0px;
	right: 50px;
	width: 300px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .3), -23px 0 20px -23px rgba(0, 0, 0, .8), 23px 0 20px -23px rgba(0, 0, 0, .8), 0 0 40px rgba(0, 0, 0, .1) inset;
}

.mess_head{
	border-radius: 15px 15px 0px 0px;
	margin: 0px;
	height: 30px;
	border: 2px solid grey;
	background: black;
	opacity: 0.5;
	color: rgb(255,255,255);
	padding: 3px;
	font-size: 10pt;
	font-weight: bold;
}

.mess_body{
	margin:  0 1px 0 1px;
	display: none;
	/*border: 2px solid grey;*/
	padding: 3px;
	background: #f7f7f6;

}

.mess_content{
	overflow-y: auto; 
	height: 350px;
}

.mess_form{
	margin: 3px;
	height: 100px;
	background: #f7f7f7;
}

.mess_form textarea{
	min-height: 2px;
}




.MyMenuSubmenu .item{
	position: relative;
	float: left;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	min-width: 110px;
}

.MyMenuSubmenu .limiter{
	position: relative;
	width: 5px;
	float: left;
	margin-top: 8px;
	height: 30px;
	border-radius: 5px;
	/*border: 1px solid grey;*/
	box-shadow: 1px 3px 3px 0px black inset;
	vertical-align: middle;

}

li:hover + .MyMenuSubmenu,
.MyMenuSubmenu:hover {
	opacity: 1;
	height: 40px;
	z-index: 1;
}

.view2{
	position: relative;
	float: left;
	width: 27%;
	height: 250px;
	margin: 30px 30px 0 0;
	border: 2px solid #bfbfbf;
	padding: 5px;
	border-radius: 2px;
	background-color: #efefef;
}


.slim .row{
	position: relative;
	float: left;
	clear: none;
	width: auto;
	min-width: 200px;
}

.avatar{
	width: auto;
	height: 200px;
	margin: 2px 2px 10px 2px;
	text-align:center;
	vertical-align: middle;
}

.bordertable *{
	border: 1px solid grey;
}

.avatar img{
	max-width: 100%;
	max-height: 100%;
	box-shadow: 1px 1px 3px 0px black, -2px -2px 3px 0px white;
}

.platetree #create div{
	background: url('../images/add.png') 99% 2px no-repeat #ebf4e6;
}

.fio{
	text-align: center;
}

.auth{
	font-family: sans-serif;
	font-size: 10pt;
}
a{
	text-decoration: none;
}

.auth a{
	color: black;	
}

.logout{
	margin: 10px 5px 5px 5px;
	background-color: rgba(240,240,240, 0.9);
	border: 1px solid grey;
	box-shadow: 2px 2px 10px 4px #404040;
	padding: 3px;
	border-radius: 2px;
}
.customtree,
.customtree ul{
	font-size: 12pt;
}
.treeview *{
	background: none;
}

.customtree .platetree{
	display: block;
	background-color: #F7F7F6; 
	box-shadow: 1px 1px 1px 1px #d8d8d8;
	width: 100%;
	margin: 2px;
}

.customtree .platetree:hover{
	 background-color: #fffffe; 
}


.customtree li{
	width: auto;
}

.catalogs .platetree{
	background: url(../images/folder_24.png) no-repeat #F7F7F6; 
	box-shadow: 1px 1px 2px 1px #d8d8d8;
}

.catalogs .platetree:hover{
	background: url(../images/folder_add_24.png) no-repeat; 
}


.catalogs .platetree a{
	margin-left: 30px; 
}

#avPersonnel{
	position: relative;
	float: left;
	width: 25%;
}

#dataPersonnel{
	position: relative;
	float: left;
	width: 70%;
}

#dataPersonnel div{
 margin-left: 10px;
 margin-bottom: 10px;
 font-size: 10pt;
}

#personTbl #right{
	text-align: right;
}

#personTbl,#personTbl *{
	font-size: 12pt;
	vertical-align: top;
	border-collapse: collapse;
}

.clear{
	position: relative;
	width: 1px;
	height: 1px;
	clear: both;
}

.list-view .pager{
	position: relative;
	clear: both;
	padding-top: 20px;
}


.persList{
	border-top: 2px solid #040404;
	border-bottom: 2px solid #040404;
}

select,option, input{
	width: 95%;
	margin: 0px;
}

select{
	height: 28px;
}

.row{
	width: 95%;
	clear: both;
}

.row.buttons{
	width: 20%;
}

.row input, .row select, .row label{
	width: 77%;
	float: left;
	clear: right;
}

.row label{
	width: 20%;
	float: left;
}

.multichoise > .row textarea{
	clear: both;
	width: 90%;
}

.multichoise{
	display: block;
	width: 100%;
	overflow: hidden;
}


.add_unit, .choise_unit, .join_group,.join_post,.join_personnel,.replace_personnel, .add_mark{
	margin: 3px; 
	color:  #06c;
	padding: 2px;
	height: 20px;

	border-radius: 2px;
	box-shadow: 1px 1px 3px 0px grey, -3px -3px 2px 2px white;
}

.add_unit, .join_group ,.join_post,.join_personnel,.replace_personnel, .add_mark{
	background: url('../images/add.png') 99% 2px no-repeat #ebf4e6;
	cursor: pointer;
}

.join_group,.join_post,.join_personnel,.replace_personnel, .add_mark{
	padding-right: 20px;	
}

.add_unit, .trinity_left{
	width: 23%;
	float: left;	
	position: relative;
}

#add_task{
	margin: 0px 2px 0px 2px ;
	height: 24px;

	/*
	vertical-align: bottom;
	border-radius: 3px;
	box-shadow: 1px 1px 3px 0px grey, -3px -3px 2px 2px white;
	padding: 4px; */
}

#add_task * {
	padding-right: 2px;
}

#add_task img{
	height: 100%;
	margin-left: 10px;
	float: right;
}

 .choise_unit {
 	width: 38%;
	float: left;	
	position: relative;
	overflow: hidden;
 }

.fl_right{
	float: right;
}


.close_this, .delete_this{
	position: absolute;
	right: 2px;
	top: 2px;
	width: 16px;
	height: 16px;
	background: url('../images/delete.png') no-repeat;
	cursor: pointer;
}

.delete_this{
	position: relative;
	right: 2px;
	top: 2px;
	margin: 3px;
	width: 16px;
	height: 16px;
	background: url('../images/delete.png') no-repeat;
	cursor: pointer;
}


.back{
	
}

.back_in_black{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	z-index: 90;
}
.window_awesom{
	background-color: #fffffe;
    border-radius: 2px 2px 0 0;
    box-shadow: 2px -2px 2px rgba(0, 0, 0, 0.1), -2px -2px 2px rgba(0, 0, 0, 0.1), 0 -90px 20px -100px #000000 inset;

	margin: auto;
	overflow: hidden;
	padding: 3px;

	position: absolute;
	text-align: left;
	min-width: 14px;

	z-index: 99;
	
}




.window_awesom div{
	overflow: hidden;
}

.window_awesom .body_res {
	max-width: 800px;
	max-height: 400px;
	overflow-x: hidden;
	overflow-y: auto;
}

.lock{
	overflow: auto;
}

.s16{
	margin: 5px;
	height: 20px;
	width: 20px;
}
.phonetable{
	margin: 10px;
}
.phonetable, .phonetable *{
	border: 1px solid #d4d4d4;
	border-collapse: none;
}

.phonetable th{
	background: #040404;
	color: white;
}

.printtable, .printtable *{
	border: 1px solid #d4d4d4;
	border-collapse: none;
	margin: 1%;
	max-width: 98%;
}

.printtable img, .printtable a{
	border: none;
}

.hierarchy div{
	margin-left: 10%;
}

.taskpanel, .perspanel{
	color: #06c;
	box-shadow: 1px 1px 3px 0px grey, -3px -3px 2px 2px white;
	border-radius: 2px;
	padding: 2px;
	padding-left: 5px;
	background: #fcfcfc;
	margin: 5px;
	margin-top: 10px;
	height: 18px; 
	width: auto;
	position: relative;
}

.perspanel{
	overflow: hidden;
}

.hipanel{
	box-shadow: 1px 1px 3px 0px grey, -3px -3px 2px 2px white;
	position: relative;
	overflow: auto;
	border-radius: 2px;
	padding: 2px;
	background: #fcfcfc;
	margin: 5px;
	margin-top: 10px;
	width: auto;
	min-height: 60px;
}

.hipanel h4{
	margin: 3px;
}


.hipanel div{
	margin-left: 10px; 
}

.hipanel div div{
	width: 48%; 
	position: relative; 
	float: left; 
	background: white; 
	margin: 2px; 
	padding-left: 5px; 
	border: 1px solid #cacaca;
}
.event{
	background: #ebf4e6;
}

.open{
 	background: #fcfcfc;
 	z-index: 3;
 	position: relative;
}

.done{
	background: #ebf4e6;
	z-index: 1;
 	position: relative;
}

.neurtal{
	background: #fafafa;
	color: gray; 
}

.closed{
	background: #f9ede8;
}


.modal_window{
	position: absolute;
	width: 80%;
	left: 10%;
	top: 10%;
	z-index: 99;
}

.modal_window_back{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(240,240,240, 0.7); 
	z-index: 40;
}

.portlet-decoration{
	background: gray;
	border-left: 0px solid black;
	box-shadow: 1px 1px 3px black;

	background: url(../images/portlet_bg.png) repeat;
}

.portlet-decoration, .portlet-content{
	border-radius: 2px;

}

.portlet-title{
	color: white;
}

.portlet-content{
	border:2px solid #DADEE0;
	background: #fffffe;
}

#status{
	margin: 3px;
	padding: 2px;
	height: 26px;

	border-radius: 2px;
	box-shadow: 1px 1px 3px 0px grey, -3px -3px 2px 2px white;
	cursor: pointer;
	width: 32%;
	float: right;
}

.comment{
	width: 99%;
	background: white;
	margin: 3px;
	margin-top: 15px;
	min-height: 50px;
	padding: 4px;
	border-radius: 2px;
	box-shadow: 1px 1px 5px 5px white;
}

.comment-topline{
	width: 100%;
	border-bottom: 1px solid #040404;
	text-align: right;
}

.sign{
	
	background: white;
	padding: 3px;
	position: relative; 
	float: right; 
	text-align: right;
}

.norm_text{
	font-size: 12pt;

	text-align: justify;
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
 width: 99%;
}



#taskbody{
	border-radius: 2px; 
	min-height: 46px; 

	padding: 10px;
	padding-bottom: 20px;
	margin-bottom: 10px;
}	

#omsk{
	position: absolute;
	left: 3px;
	top: 3px;
	z-index: 100;
	width: 10%;
}

#omsk img{
	width: 100%;
	height: 100%;
}

textarea{
	width: 97%;
	min-height: 200px;
}

.day, .day_event{
	top: 40px;
 	
}

.day{
	min-width: 930px;
 	position: relative;
 	left: 20px;
 	width: 95%;
 	font-size: 12pt;
 	padding-bottom: 60px;
}

.day_event, .week_event{
	border-color: grey;
}

.day_event{
	position: absolute;
 	left: 70px;
 	width: 93%;
 	overflow-x: auto;
 	overflow-y: hidden;
 	z-index: 10;
	margin-top: -20px;
}



.week_event{

	border-left: 2px solid gray;
	position: relative;
	width: 200px;
 	max-width: 13%;
 	height: 600px;
 	float: left;
 	z-index: 10;
}

td .week_event{
	min-width: 200px;
	width: 99%;
	max-width: 99%
}

.corps{
	margin: 5px;
	overflow: hidden;
	border: 1px solid red;
}

.day div{

	width: 95%;
	height: 58px;
	border-top: 2px solid;
	
	/*
	border-bottom: 2px solid;
	border-left: 2px solid;
	border-right: 2px solid;
		border-radius: 0px;*/

	border-color: grey;
}

.leaf .day div  {
	width: 100%;
}
.leaf .day_event{
	width: 95%;
}

.event{
	padding: 0px;

	position: absolute;
	width: 98%;
	border-radius: 2px;
	border: 1px solid gray;
	overflow: hidden;
	z-index: 2;
}

.event.closed{
	z-index: 1;
	opacity: 0.3;
}

.event:hover{
	z-index: 20;
}

.day_event:hover .turnws10,
.week_event:hover .turnws10{
	margin-left:10px; 
	margin-top:10px;
	z-index: 3;
}

.event *{
	margin: 1px;
	overflow: hidden;
	margin-top:  0px;
	margin-bottom: 0px;
}

.event .information{
	height: 75%;
	overflow: hidden;
	margin-bottom: 20px;
}

.leaf .event p{
	font-size: 10pt;
	font-weight: bold;
	left: 10px;
	top: 2%;
}

.event p{
	font-size: 12pt;
	font-weight: bold;
	left: 10px;
	top: 4%;
}

.event .status{
	position: absolute;
	right: 2px;
	bottom: 2px;
}

.event .time{
	position: absolute;
	right: 2px;
	top: 2px;
}

.event .creator{
	position: absolute;
	left: 2%;
	bottom: 2%;
}



.cornice{
	width:950px; 
	background: #FfFfFe; 
	margin:  0 0 -5px -20px; 
	/*z-index: 2; */
	position: relative;
}


.fullwidth{
	width: 95%;
}

.leaf{
	margin: 4px;
 	background: #FfFfFe;
 	/*min-height: 100%;*/
	position: absolute;
	overflow-y: visible;
	z-index: 1;
	width: 95%;
	min-width: 930px;
	min-height: 500px;
	left: 3%;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .3), -23px 0 20px -23px rgba(0, 0, 0, .8), 23px 0 20px -23px rgba(0, 0, 0, .8), 0 0 40px rgba(0, 0, 0, .1) inset;
}

.current{
	background-color: rgba(200,255,150,0.1);
}

.leaf_slim{

	margin: 0px auto;
 	background: #F0F0F0;
	position: absolute;
	overflow-y: visible;
	z-index: 1;
	width: 930px;
	box-shadow: -20px 0px 0px 0px #F0F0F0;
	/*box-shadow: 1px 1px 3px 0 #000000, -2px -2px 3px 0 #FFFFFF;*/

}

.red{
	color: red;
}

.green{
	color: green;
}

.gray{
	color: gray;
}

.inset2{
	/* box-shadow:  0px 0px 0px 1px white, 0px 0px 0px 2px black ; */
	
	border-radius: 2px 2px 0px 0px;
	box-shadow: -2px 0px 1px 1px rgba(0, 0, 0, .7);
	min-width: 85px;
	position: relative;
	float: left;
	padding: 5px;
	margin-right: 7px;
}

.inset2.active{
	box-shadow: -2px -2px 1px 1px rgba(0, 0, 0, .7);
}

#footer{
	border: none;
}


#mainmenu ul li{
	width: 145px;
}




.br_gray{
	border: 3px solid gray;
}


.br_red{
	border: 3px solid red;
}

.br_green{
	border: 3px solid green;
}


div.search-form{
	margin: 0px;
	padding: 0px;
}

/*


.inset2{
	border-radius: 2px;
	box-shadow: 0px -4px 1px 1px black;
	position: relative;
	float: left;
	padding: 5px;
	margin-right: 5px;
}


.inset2 .downp{
	position: absolute;
	bottom: 1px;

	background: black;
	width: 105%;
	height: 3px;
	margin-left: -7px;

};

.downp{
	background: white;
}
*/