.view2{
	position: relative;
	float: left;
	width: 27%;
	height: 250px;
	margin: 30px 30px 0 0;
	border: 2px solid #bfbfbf;
	padding: 5px;
	border-radius: 5px;
	background-color: #efffff;
}

.avatar{
	width: auto;
	height: 200px;
	margin: 2px 2px 10px 2px;
	text-align:center;
	vertical-align: middle;
}



.avatar img{
	max-width: 100%;
	max-height: 100%;
	box-shadow: 1px 1px 4px 1px #404040;
}

.fio{
	text-align: center;
}

.auth{
	font-family: sans-serif;
	font-size: 10pt;
}
.auth a{
	color: black;	
	text-decoration: none;
}

.logout{
	margin: 10px 5px 5px 5px;
	background-color: rgba(240,240,240, 0.9);
	border: 1px solid grey;
	box-shadow: 2px 2px 10px 4px #404040;
	padding: 3px;
	border-radius: 2px;
}
.customtree,
.customtree ul{
	font-size: 12pt;
}
.treeview *{
	background: none;
}

.customtree .platetree{
	display: block;
	background-color: #e8e8e8; 
	box-shadow: 1px 1px 2px 1px #d8d8d8;
	width: 100%;
	margin: 2px;
}

.customtree .platetree:hover{
	 background-color: #fafafa; 
}


.customtree li{
	width: auto;
}

.catalogs .platetree{
	background: url(../images/folder_24.png) no-repeat #e8e8e8; 
	box-shadow: 1px 1px 2px 1px #d8d8d8;
}

.catalogs .platetree:hover{
	background: url(../images/folder_add_24.png) no-repeat; 
}


.catalogs .platetree a{
	margin-left: 30px; 
}

#avPersonnel{
	position: relative;
	float: left;
	width: 25%;
}

#dataPersonnel{
	position: relative;
	float: left;
	width: 70%;
}

#dataPersonnel div{
 margin-left: 10px;
 margin-bottom: 10px;
 font-size: 10pt;
}

#personTbl #right{
	text-align: right;
}

#personTbl,#personTbl *{
	font-size: 12pt;
	vertical-align: top;
	border-collapse: collapse;
}

.clear{
	position: relative;
	width: 1px;
	height: 1px;
	clear: both;
}

.list-view .pager{
	position: relative;
	clear: both;
	padding-top: 20px;
}


.persList{
	border-top: 2px solid #040404;
	border-bottom: 2px solid #040404;
}

select,option{
	width: 90%;
}

.multichoise{
	display: block;
	width: 100%;
	overflow: hidden;
}


.add_unit, .choise_unit, .join_group{
	margin: 3px;
	padding: 2px;
	height: 20px;

	border-radius: 4px;
	border: 2px groove #ffffff;
}

.add_unit, .join_group{
	background: url('../images/add.png') 99% 2px no-repeat #daffda;
	cursor: pointer;
}

.join_group{
	padding-right: 20px;	
}

.add_unit, .choise_unit{
	width: 32%;
	float: left;	
}

.fl_right{
	float: right;
}

.close_this{
	position: relative;
	float: right;
	width: 16px;
	height: 16px;
	background: url('../images/delete.png') no-repeat;
	cursor: pointer;
}
.back{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	z-index: 120;
}
.window_awesom{
	background: #f4f4f4;
	overflow: auto;
	margin: 3px;
	padding: 3px;
	border: 2px groove #ffffff;
	border-radius: 4px;
	position: absolute;
	z-index: 99;
	
}

.lock{
	overflow: auto;
}

.s16{
	margin: 5px;
	height: 20px;
	width: 20px;
}
.phonetable{
	margin: 10px;
}
.phonetable, .phonetable *{
	border: 1px solid #d4d4d4;
	border-collapse: none;
}

.phonetable th{
	background: #040404;
	color: white;
}

.hierarchy div{
	margin-left: 10%;

}

